parameters:
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	level: max
	ignoreErrors:
		-
			message: '#Method ReactParallel\\Pool\\Test\\Direct::run\(\) should return T\|null but returns T\|void.#'
			path: ../../src/Direct.php
		-
			identifier: shipmonk.nonNormalizedType
			path: ../../src/Direct.php
			count: 10
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime
				- ReactParallel\Tests\AbstractPoolTest
