parameters:
	level: max
	ignoreErrors:
		-
			message: '#Method ReactParallel\\Pool\\Test\\Direct::run\(\) should return T\|null but returns T\|void.#'
			path: ../../src/Direct.php
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime
				- ReactParallel\Tests\AbstractPoolTest

includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon
